@font-face {
    src: url("../fonts/Jura/Jura-Regular.ttf") format("truetype"), 
         url("../fonts/Jura/Jura-Regular.ttf") format("truetype");
    font-family: "Jura Regular";
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }
  