
/* WORK BLOCK CSS */

.gallery-section {
    text-align: center;
  }
  .portfolio-item img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 10px;
  }
  .portfolio-item .thumb-inner {
    position: absolute;
    color: white;
    z-index: 99;
    bottom: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(250,250,250,0.25);
    width: 100%;
    height: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .portfolio-item .thumb-inner h4 {
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0px;
  }
  .portfolio-item .thumb-inner p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-bottom: 0px;
  }
  .portfolio-item:hover .thumb-inner p {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
  .portfolio-item:hover .thumb-inner {
    border-radius: 10px;
    height: 100%;
    background-image: linear-gradient(to right, #3d5e5ec4 , #27272771);
  }
  .portfolio-item:hover .thumb-inner h4 {
     margin-top: 30%;
    margin-bottom: 20px;
  }
  